#main {
  .inner { background-color: #FFF; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); height: 100%; margin-bottom: 40px; }
  .inner .loading{ padding: 40px 0; }
  .profile {
    position: absolute; width: 285px; text-align: center;
    .avatar { width: 128px; height: 128px; border-radius: 50%; border: 1px solid #ddd; margin-bottom: 20px; }
    .base-info{ padding: 35px 20px 25px; }
    .name{ font-size: 20px; font-weight: 600; }
    .title{ font-size: 14px; font-weight: normal; }
    .location{ font-size: 12px; color: #9a9ea3; margin-top: 5px; }
    .location i{ margin-right: 5px; }
    .follow { color: #fff; width: 150px; height: 40px; display: block; font-size: 14px; line-height: 40px; text-align: center; margin: 20px auto 0; background: #38b7ea; -webkit-border-radius: 20px; border-radius: 20px; -webkit-transition: 0.2s ease; -moz-transition: 0.2s ease; -ms-transition: 0.2s ease; transition: 0.2s ease; }
    .article-info{ border-top: 1px solid #eceff2; border-bottom: 1px solid #eceff2; display: flex; }
    .article-info .col{ flex: 1; padding: 20px 0; font-size: 20px; }
    .article-info .col:first-child{ border-right: 1px solid #eceff2; }
    .article-info .col p{ font-size: 14px; }
    .contact-info{ padding: 15px 0; text-align: center; }
    .contact-info a{ color: #898d92; font-size: 20px; margin: 0 10px; display: inline-block; position: relative;}
    .contact-info a:hover{ color: #565a5f; }
    .contact-info a:hover:before { right: -50%; top: -41px; color: #fff; background: #333; font-size: 14px; content: attr(title); display: block; padding: 5px 15px; position: absolute; white-space: nowrap; border-radius: 2px; text-transform: uppercase; box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); z-index: 1; }
    .contact-info a:hover:after { top: -12px; right: 8px; border: solid; border-color: #333 transparent; border-width: 5px 5px 0 5px; content: ""; display: block; position: absolute; z-index: 2; }
  }

  .post-list { width: 690px; margin: 0 auto; }

  .posts{ }
  .posts img{ width: 100%; display: block; }
  .posts .header{ color: #565a5f; padding: 20px 20px 0; }
  .posts .header h1{ font-size: 28px; font-weight: normal; margin-top: 0; margin-bottom: 10px; }
  .posts .header .meta{ color: #9a9ea3; }
  .posts .header .meta span{ margin-right: 10px; }
  .posts .header .meta i{ margin-right: 5px; }
  .posts .header .meta a{color: #9a9ea3;}
  .posts .article-entry{ padding: 0 20px; line-height: 30px; }
  .posts .article-entry p{ margin: 20px 0; }
  .posts .footer{ margin: 0 20px; border-top: 1px solid #eceff2; padding: 20px 0;  }
  .posts .footer a{ float: right; color: #999; margin-left: 20px; font-size: 12px; }
  .posts .footer a:hover{ color: #38B7EA; }
  .posts .footer i{ margin-right: 5px; }

  .slidebar { position: absolute; top: 0; right: 0; height: 100px; width: 285px; }
  .slidebar .widget-wrap{ margin: 40px 0; }
  .slidebar .widget-wrap:first-child{ margin-top: 0; }
  .slidebar .widget-title { text-decoration: none; text-transform: uppercase; color: #999;  }
  .slidebar .widget { word-wrap: break-word; font-size: 14px; padding: 15px 0; }

  .tag-list{  }
  .tag-list li{ list-style: none; }
  .tag-list li a{ color: #777; font-size: 14px; line-height: 30px; }
  .tag-list li a:hover{ color: #38B7EA; }
  .tag-list li a i{ margin-right: 5px; }
  .tag-list li a span{ font-size: 12px; }
}
/*
.loaded .profile{
  animation: profile 1s ease forwards 0.3s ;
}

@keyframes profile{
  0%{ top: 150px; left: 50%; transform: translate(-50%, 0) rotateY(0deg) scale(0.5); }
  100%{ top: 0; left: 0%; transform: translate(0%, 0) rotateY(-360deg) scale(1);}
}
*/