.content{ text-align: center; font-size: 28px; color: #FFF; position: relative; top: 50%; transform: translateY(-50%); }
.content strong{ font-size: 48px; }
.content span,
.content strong:nth-child(1){ color: #569DC7; }