header { background-color: #FFF; height: 64px; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); position: relative;}
header:after{ content: ''; width: 0; height: 2px; background-color: #38B7EA; position: absolute; top: 0; left: 50%; transform: translateX(-50%); animation: headertip 4s ease-in infinite alternate; }
header .wrapper{  padding: 0 280px 0 180px; height: 100%; }
header .logo { font-size: 16px; font-weight: 600; display: inline-block; background: url(../../images/logo.png) no-repeat left center; background-size: 48px; line-height: 64px; padding-left: 55px; position: absolute; left: 0; top: 0; }
header nav{ height: 100%; line-height: 64px; }
header nav a{ display: block; float: left; padding: 0 15px; }

header .search-form{ position: absolute; top: 0; right: 0; height: 100%; line-height: 64px; }

@keyframes headertip{
  0%{ width: 0%; }
  100%{ width: 100%; }
}